<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlightWatcher WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FlightWatcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCC704601B890E99009750DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCFF7CA31B890B8F00DC771A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCFF7CB81B890B8F00DC771A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
